{% load static %}
<!-- choose a theme file -->
<link rel="stylesheet" href="{% static 'document/css/theme.default.css' %}">
<!-- load jQuery and tablesorter scripts -->
{% comment %} <script type="text/javascript" src="{% static 'document/css/theme.default.css' %}"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'document/js/jquery.tablesorter.js' %}"></script>

<!-- tablesorter widgets (optional) -->
<script type="text/javascript" src="{% static 'document/js/jquery.tablesorter.widgets.js' %}"></script>
<script type="text/javascript" src="{% static 'document/js/pagenation.js' %}"></script>
