    <!-- 네비게이션바 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a href="{% url 'cms:index' %}"><img src="/static/img/002.png" height="70px"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item">
                        <!-- 로그인 되어있는 경우 넵바 -->
                        {% if user.is_authenticated %}
                        <div class="header-item header-text">
                            <h4><a href="{% url 'board:Viewboard' %}">자료실</a></h4>
                        </div>
                        <div class="header-item header-text">
                            <h4><a href="{% url 'notice:index' %}">공지사항</a></h4>
                        </div>
                        <div class="header-item header-text">
                            <h4><a href="{% url 'qna:index' %}">Q&A</a></h4>
                        </div>
                        <div class="header-item header-text">
                            <h4><a href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a></h4>
                        </div>
                    {% else %}
                        <!-- 아닐 경우 넵바 -->
                        <a class="nav-link" href="/common/login">로그인</a>
                        <li>
                            {% if not user.is_authenticated %}
                            <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
                            {% endif %}
                        </li>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>